/* font-family: 'Droid Sans', sans-serif;
 * font-family: 'PT Serif', serif;
 * font-family: 'Roboto Condensed', sans-serif;
 */

 @import 'nib'

 navi_font = 'Roboto Condensed', sans-serif

 ul.menu, .footer p, #trailer
 	font-family navi_font
