html
	position relative
	min-height 100vh

body
	height 100%

.container
	margin 0
	padding 0
	flex 1

.header
	height 50px

ul.menu
	list-style-type none
	float left
	padding 0
	width 100%
	-webkit-margin-before 0.5em
	-webkit-margin-after 0.5em
	font-size 20px
	text-align center

.ghost
	display inline
	padding 0 3% 0 3%

#menu_btn 
	display none

.footer
	position absolute
	left 0
	bottom 0
	height 60px
	width 100%

.footer p
	display inline
	margin-top 5px
	-webkit-margin-before 0
	-webkit-margin-after 0.5em
	font-size 18px

#foot_name
	float left
	padding-left 15%

#foot_number
	float right
	padding-right 15%

.foot_social
	display block
	text-align center

.foot_social a 
	margin-right 2em

.foot_social img
	opacity 1.0
	&:active
		opacity 0.7

.content
	margin 0 auto
	height 100%

#trailer
	text-align center
	font-size 28px
	margin-top 50%