//- includes/footer.jade
.footer
	p#foot_name Jordon McKoy
	p#foot_number 519 277 9182
	span.foot_social
		a(href='https://twitter.com/jMckoy25')
			img(src='images/foot/twitter256.png',height='21px',width='21px')
		a(href='https://github.com/jordonmckoy')
			img(src='images/foot/GitHub-Mark-32px.png',height='21px',width='21px')
		a(href='https://ca.linkedin.com/in/jordonmckoy')
			img(src='images/foot/In-Black-21px-R.png',height='21px',width='30px')
		img(src='images/foot/mail.png',height='21px',width='21px')
		