//- includes/header.jade
.header
	ul.menu
		li.ghost
			a#about_btn(href='#') About
		li.ghost 
			a#blog_btn(href='#') Blog
		li.ghost 
			a#projects_btn(href='#') Projects
		li.ghost 
			a#contact_btn(href='#') Contact
		a#menu_btn(href='#') MENU